[Desktop Entry]
Encoding=UTF-8
Name=ItaPlasmaClock
Name[it]=Orologio Italiano
Name[it_IT]=Orologio Italiano
Name[en]=Italian Word Clock
Name[en_US]=Italian Word Clock
Type=Service
ServiceTypes=Plasma/Applet
Icon=clock
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Daniele "OpenNingia" Simonetti
X-KDE-PluginInfo-Email=oppifjellet@gmail.com
X-KDE-PluginInfo-Name=ita-plasma-clock
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=https://github.com/OpenNingia
X-KDE-PluginInfo-Category=Utility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true