[Desktop Entry]
Encoding=UTF-8
Name=PlasmaQlock
Name[it]=Orologio Scritto
Name[it_IT]=Orologio Scritto
Name[en]=Words Clock
Name[en_US]=Words Clock
Name[de]=Umgangssprachliche Uhr im Stil der QlockTwo
Name[de_DE]=Umgangssprachliche Uhr im Stil der QlockTwo
Type=Service
ServiceTypes=Plasma/Applet
Icon=clock
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Daniele "OpenNingia" Simonetti, Dennis Kadioglu
X-KDE-PluginInfo-Email=oppifjellet@gmail.com
X-KDE-PluginInfo-Name=plasma-qlock
X-KDE-PluginInfo-Version=1.7
X-KDE-PluginInfo-Website=https://github.com/OpenNingia
X-KDE-PluginInfo-Category=Utility
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
